.my-succeed-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #147919;
  padding: 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.my-failed-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #791414;
  padding: 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.close-button {
  margin-left: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;

}
